.parent{
  height: 100vh;
  display: grid;
  grid-template-columns: 0.02fr 30% 1fr;
  grid-template-rows: .05fr 1fr 1fr;
  grid-template-areas:
          'sidebar treeview toolbar'
          'sidebar treeview note'
          'sidebar treeview note';
}

.parent.hidden{
  grid-template-columns: 0.02fr 0 1fr;
}

.treeview{
  background: whitesmoke;
  grid-area: treeview;
}

.treeview.hidden {
  visibility: hidden;
}

.sidebar{
  grid-area: sidebar;
  background: aquamarine;
}

.toolbar{
  background: antiquewhite;
  grid-area: toolbar;
}
.note{
  background:antiquewhite;
  grid-area: note;
} 